body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

#filter-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cocktails-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cocktail-card {
    text-align: center;
}

.cocktail-card img {
    max-width: 100%;
    max-height: 150px; 
    object-fit: cover; 
}

#totals-section {
    margin-top: 20px;
}
